
@{
    ViewBag.Title = "服务列表";
    Layout = "~/Views/Shared/_LayoutHFNA.cshtml";
}

@using ZCPT.CrowdSourcing.Entity.ServiceProviderModule
@using ZCPT.CrowdSourcing.Web.Models.ServiceProviderModule
@using Webdiyer.WebControls.Mvc
@model PagedList<ZCPT.CrowdSourcing.Web.Models.ServiceProviderModule.CSProductModel>

<div class="page-head"><span>服务列表</span></div>
    <div class="panel panel-default section-filter">
        
        <div class="panel-body collapse in" id="sectionfilter">
            @using (Html.BeginForm("productlist", "product", FormMethod.Get, new { role = "form", @class = "form-horizontal section-form", id = "form1" }))
            {

                @*<div class="form-group row">
                    <label class="col-sm-1 control-label">商品名称：</label>
                    <div class="col-sm-2">
                        @Html.TextBox("name")
                    </div>
                    <label class="col-sm-1 control-label">状态：</label>
                    <div class="col-sm-2">
                        @Html.DropDownList("sv", ViewBag.ProductStatus as List<SelectListItem>, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" id="btnSearch" class="btn btn-default">查询</button>
                    </div>
                </div>*@


                <div class="form-group">
                    <label class="col-sm-1 control-label">商品名称：</label>
                    <div class="col-sm-5">
                        <input type="text" name="name" class="form-control" id="name" placeholder="" value="@ViewBag.Name">
                    </div>
                    <label class="col-sm-1 control-label">状态：</label>
                    <div class="col-sm-5">
                        @Html.DropDownList("sv", ViewBag.ProductStatus as List<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>



                <div class="form-group line-top">

                    <div class="btn-group" role="group" aria-label="...">
                        <button type="submit" id="btnSearch" class="btn btn-default">查询</button>
                    </div>

                </div>


                @*<table border="0" cellpadding="0" cellspacing="1" class="tab1" width="100%">

                        <tr>
                            <td colspan="4">
                                状态 @Html.DropDownList("sv", ViewBag.ProductStatus as List<SelectListItem>)

                                <input type="submit" id="btnSearch" value="查询" class="btn btn-info" />
                            </td>
                        </tr>
                    </table>*@
            }
        </div>
    </div>

<table class="table section-table table-bordered table-hover table-striped table-condensed">
    <thead>
        <tr><th>商品名称</th><th>商品类别</th><th>商品价格（基础费用/月费）</th><th>数量</th><th>状态</th><th>创建时间</th><th>上架时间</th><th>下架时间</th><th>操作</th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="center">@item.Name</td>
                <td class="center">@item.CategoryName</td>
                @*<td class="center">@string.Format("{0:f2}", item.Price)</td>*@

                <td class="center">@(item.HasRecuringFee?string.Format("{0:f2}/{1:f2}",item.NonRecuringFee,item.RecuringFee):string.Format("{0:f2}", item.Price))</td>

                <td class="center">@item.Num</td>
                <td class="center">@CSProductStatus.Get(@item.Status).Name</td>
                <td class="center">@item.CreationDate.ToString("g")</td>
                <td class="center">@(item.ShelveDate!=null?item.ShelveDate.Value.ToString("g"):string.Empty)</td>
                <td class="center">@(item.UnShelveDate!=null ? item.UnShelveDate.Value.ToString("g") : string.Empty)</td>
                <td class="center" style="text-align:left;">
                    <a href='@Url.Content("productdetail/"+@item.ID)' class="glyphicon glyphicon-hand-left btn btn-default" style="background:transparent;color:#0099c5; border:none;text-decoration:underline;padding:0;">详情</a>

                    @if (item.Status == CSProductStatus.Get("Shelve").ID)
                    {
                        <a onclick="UnShelveProduct(@item.ID);" href="#" class="glyphicon glyphicon-hand-down btn btn-default" style="background:transparent;color:#0099c5; border:none;text-decoration:underline;padding:0;">下架</a>
                    }

                    @if (item.Status == CSProductStatus.Get("UnShelve").ID || item.Status == CSProductStatus.Get("Active").ID)
                    {
                        <a onclick="ShelveProduct(@item.ID);" href="#" class="glyphicon glyphicon-hand-down btn btn-default" style="background:transparent;color:#0099c5; border:none;text-decoration:underline;padding:0;">上架</a>
                        <a onclick = "DeleteProduct(@item.ID);" href = "#" class="glyphicon glyphicon-hand-down btn btn-default">删除</a>
                    }

                    @if (item.Status == CSProductStatus.Get("Saved").ID || item.Status == CSProductStatus.Get("Denied").ID)
                    {
                        <a href='@Url.Content("editproduct/"+@item.ID)' class="glyphicon glyphicon-hand-down btn btn-default" style="background:transparent;color:#0099c5; border:none;text-decoration:underline;padding:0;">编辑</a>
                                    <a onclick="DeleteProduct(@item.ID);" href="#" class="glyphicon glyphicon-hand-down btn btn-default" style="background:transparent;color:#0099c5; border:none;text-decoration:underline;padding:0;">删除</a>
                                    <a onclick="PublishApplication(@item.ID);" href="#" class="glyphicon glyphicon-hand-down btn btn-default" style="background:transparent;color:#0099c5; border:none;text-decoration:underline;padding:0;">发布申请</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @Ajax.Pager(Model, new PagerOptions { PageIndexParameterName = "pid", ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>" }, new MvcAjaxOptions { UpdateTargetId = "proList", HttpMethod = "Post", DataFormId = "form1" })
</div>


<script>
    function DoAction(id, status) {
        if (confirm("确定要进行此操作吗？")) {

            $.ajax(
            {
                type: 'post',
                url: 'ProductList?id=' + id + '&status=' + status,

                success: function (data) {
                    $("#form1").submit();
                },
                error: function () {
                    alert('操作失败');
                }

            });
        }
    }

    function ShelveProduct(id){
        if (confirm("确定要进行此操作吗？")) {

            $.ajax(
            {
                type: 'post',
                url: 'ShelveProduct/' + id,

                success: function (data) {
                    if(data.Success==true)
                    {
                        alert("操作成功。")
                        $("#form1").submit();
                    }
                    else
                    {
                        alert('操作失败');
                    }
                },
                error: function () {
                    alert('操作失败');
                }

            });
        }
    }

    function UnShelveProduct(id){
        if (confirm("确定要进行此操作吗？")) {

            $.ajax(
            {
                type: 'post',
                url: 'UnShelveProduct/' + id,

                success: function (data) {
                    if(data.Success==true)
                    {
                        alert("操作成功。")
                        $("#form1").submit();
                    }
                    else
                    {
                        alert(data.Message);
                    }
                },
                error: function () {
                    alert('操作失败');
                }

            });
        }
    }

    function DeleteProduct(id){
        if (confirm("确定要进行此操作吗？")) {

            $.ajax(
            {
                type: 'post',
                url: 'DeleteProduct/' + id,

                success: function (data) {
                    if(data.Success==true)
                    {
                        alert("操作成功。")
                        $("#form1").submit();
                    }
                    else
                    {
                        alert('操作失败');
                    }
                },
                error: function () {
                    alert('操作失败');
                }

            });
        }
    }

    function PublishApplication(id){
        if (confirm("确定要进行此操作吗？")) {

            $.ajax(
            {
                type: 'post',
                url: 'PublishApplication/' + id,

                success: function (data) {
                    if(data.Success==true)
                    {
                        alert("操作成功。")
                        $("#form1").submit();
                    }
                    else
                    {
                        alert('操作失败');
                    }
                },
                error: function () {
                    alert('操作失败');
                }

            });
        }
    }
    
</script>


