
@{
    Layout = "~/Views/Shared/_FirstMenuLayout.cshtml";
}
@{ViewBag.ContentName = "投资方资质审核";}
@*@model IEnumerable<ZCPT.CrowdFunding.Web.Models.CFInvestingPartyModule.OrganizationInvestingPartyModle>*@
@using ZCPT.CrowdFunding.Web.Models.CFInvestingPartyModule
@using ZCPT.CrowdFunding.Entity.CFInvestingPartyModule
@model OrganizationInvestingPartyQuery

@Html.Partial("InvestingPartyTab")

<script type="text/javascript" src="~/Scripts/js/app/OrganizationInvestingPartyList.js"></script>
<script id="organizationTemplate" type="text/template">
    <table border="0" cellpadding="0" cellspacing="1" class="tab1" width="100%">
        <tr>
            <td width="18%" scope="col">
                公司名称
            </td>
            <td width="32%">
                <%= item.Name %>
            </td>
            <td width="18%" scope="col">
                公司类型
            </td>
            <td width="32%">
                <%= item.TypeName %>
            </td>
        </tr>
        <tr>
            <td width="18%" scope="col">
                营业执照号码
            </td>
            <td class="tdField">
                <%= item.Number %>
            </td>
            <td width="18%" scope="col">
                联系人
            </td>
            <td class="tdField">
                <%= item.Contacter %>
            </td>
        </tr>
        <tr>
            <td width="18%" scope="col">
                所在城市
            </td>
            <td class="tdField">
                <%= item.CityName %>
            </td>
            <td width="18%" scope="col">
                公司地址
            </td>
            <td class="tdField">
                <%= item.Address %>
            </td>
        </tr>
    </table>
</script>

@using (Html.BeginForm("OrganizationInvestingPartyList", "CFInvestingParty", FormMethod.Post, new { role = "form", id = "form1" }))
{
    <div class="panel panel-default section-filter">
        <div class="panel-body form-horizontal collapse in" id="sectionfilter">
            <div class="form-group">
                <label class="col-sm-1 control-label">机构名称：</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                </div>
                <label class="col-sm-1 control-label">状态：</label>
                <div class="col-sm-5">
                    @Html.DropDownListFor(model => model.Status, ViewBag.StatusList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">创建时间：</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.CreationTime, new { @class = "Wdate form-control", @onClick = "WdatePicker({readOnly:true})" })
                </div>
            </div>
            <div class="form-group line-top">
                <div class="btn-group" role="group" aria-label="...">
                    <input type="submit" id="btnSearch" value="查询" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<table class="table section-table table-bordered table-hover table-striped table-condensed">
    <thead>
        <tr><th>机构名称</th><th>机构说明</th><th>创建时间</th><th>状态</th><th>操作</th></tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.SearchList)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Introduction
                </td>
                <td class="center">
                    @item.CreationDate.ToString("yyyy-MM-dd")
                </td>
                <td class="center">
                    @item.Status.Name
                </td>
                <td class="center">
                    @{
                        if (item.Status.Value == "Apply")
                        {
                            <a onclick="DoAction(@item.LID, @CFInvestingPartyStatus.Get("Auditing").ID);" href="#">审核</a>
                        }
                        else if (item.Status.Value == "Auditing")
                        {
                            <a onclick="DoAction(@item.LID, @CFInvestingPartyStatus.Get("Passed").ID);" href="#">通过</a>
                            <a onclick="DoAction(@item.LID, @CFInvestingPartyStatus.Get("Denied").ID);" href="#">拒绝</a>
                        }
                    }
                </td>
            </tr>
                        }
    </tbody>
</table>

<div id="detailDialog" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">机构详细信息</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!--modal-content -->
    </div><!--modal-dialog -->
</div><!--modal -->

<script>

    function DoAction(id, status) {
        if (confirm("确定要进行此操作吗？")) {
            $.ajax(
            {
                type: 'post',
                url: 'Update?id=' + id + '&status=' + status,

                success: function (data) {
                    alert('操作成功');
                    $("#form1").submit();
                },
                error: function () {
                    alert('操作失败');
                }

            });
        }
    }
</script>

