@{
    Layout = "~/Views/Shared/_FirstMenuLayout.cshtml";
}

@{
    ViewBag.ContentName = "查看机构详细信息";
}

@using ZCPT.CrowdFunding.Entity
@model ZCPT.CrowdFunding.Web.Models.CFFinancingPartyModule.OrganizationInfoModel
<style>
    .tdLable {
        background-color: #E5EFFF;
        width: 15%;
    }

    .tdField {
        background-color: #FFFFFF;
        width: 35%;
    }
</style>

@{ if (Model.IsExistAccount)
    {
        if (Model.AccountType == AccountType.Organization.ToString())
        {
            <table border="0" cellpadding="0" cellspacing="1" class="tab1" width="100%">
                <tr>
                    <td class="tdLable">
                        公司名称
                    </td>
                    <td class="tdField">
                        @Model.Name
                    </td>
                    <td class="tdLable">
                        公司类型
                    </td>
                    <td class="tdField">
                        @Model.TypeName
                    </td>
                </tr>
                <tr>
                    <td class="tdLable">
                        营业执照号码
                    </td>
                    <td class="tdField">
                        @Model.Number
                    </td>
                    <td class="tdLable">
                        联系人
                    </td>
                    <td class="tdField">
                        @Model.ContacterID
                    </td>
                </tr>
                <tr>
                    <td class="tdLable">
                        所在城市
                    </td>
                    <td class="tdField">
                        @Model.CityName
                    </td>
                    <td class="tdLable">
                        公司地址
                    </td>
                    <td class="tdField">
                        @Model.Address
                    </td>
                </tr>
            </table>
        }
        else
        {
            @Html.Raw("机构信息不存在。")
        }
    }
    else
    {
        @Html.Raw("机构信息不存在。")
    }
}

<div style="text-align:right; padding-top: 20px;">
    @Html.ActionLink("返回", "OrganizationInvestingPartyList")
</div>


