@using Webdiyer.WebControls.Mvc;
@using ZCPT.CrowdFunding.Web.Models
@model PagedList<CFProjectInvestmentModel>

@foreach (var i in Model)
{
    <div class="media-list">
        <div class="media section-media-large">
            <div class="media-left">
                <a href="InvestProject?id=@i.Project.LID">
                    <img alt="" class="media-object img-thumbnail" src="@(System.Configuration.ConfigurationManager.AppSettings["ServerReferenceFileCenterAPI"] + "/fileupload/ImgDownload/"+ i.Project.Icon)" />
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    @i.Project.Name
                    <span class="label label-info pull-right">
                        <span class="arrow-left"></span>
                        @i.Project.Status.Name
                    </span>
                </h4>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">阶段：</label>
                        <div class="col-sm-4 form-control-static">
                            @(i.Project.Stage?.Name)
                        </div>
                        <label class="col-sm-2 control-label">行业：</label>
                        <div class="col-sm-4 form-control-static">
                            @(i.Project.Industry?.Name)
                        </div>
                        <label class="col-sm-2 control-label">投资类型：</label>
                        <div class="col-sm-4 form-control-static">
                            @(i.IsLeadInvestment ? "领投" : "跟投")
                        </div>
                        <label class="col-sm-2 control-label">申请状态：</label>
                        <div class="col-sm-4 form-control-static">
                            @i.Status.Name
                        </div>
                        <label class="col-sm-2 control-label">投资金额：</label>
                        <div class="col-sm-4 form-control-static">
                            @(string.Format("{0:f2}", i.Amount / 10000))万
                        </div>
                        <label class="col-sm-2 control-label">申请时间：</label>
                        <div class="col-sm-4 form-control-static">
                            @(i.CreationDate?.ToString("yyyy-MM-dd"))
                        </div>
                    </div>
                </div>
                <div class="bg-info">
                    <label>项目简介：</label>@Html.Raw(i.Project.Introduction)
                </div>
            </div>
        </div>
    </div>
}

<div class="text-center">
    @Ajax.Pager(Model, new PagerOptions
{
    FirstPageText = "首页",
    LastPageText = "上页",
    NextPageText = "下页",
    PrevPageText = "尾页",
    PageIndexParameterName = "id",
    ContainerTagName = "ul",
    CssClass = "pagination pagination-centered",
    CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
    DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li >",
    PagerItemTemplate = "<li>{0}</li>"
}).AjaxOptions(a => a.SetUpdateTargetId("proList")).Options(o => o.DisableAutoHide().SetPageIndexBoxId("PageCurrentIndex").SetGoToButtonId("btnGo"))
    <ul class="pagination pagination-centered">
        <li><span>共<font>@Model.TotalPageCount</font>页</span></li>
        <li><span>共<font>@Model.TotalItemCount</font>条</span></li>
        <li>
            <div class="input-group">
                <input type="text" class="form-control" id="PageCurrentIndex" placeholder="">
                <span class="input-group-addon" id="sizing-addon1">页</span>
                <span class="input-group-btn"><button class="btn btn-default" type="button" id="btnGo">跳转</button></span>
            </div>
        </li>
    </ul>
</div>
