@model ZCPT.CrowdSourcing.Web.Models.ServiceProviderModule.CSShopModel
@using ZCPT.CrowdSourcing.Entity.ServiceProviderModule
@{
    ViewBag.Title = "店铺设置";
    Layout = "~/Views/Shared/_LayoutHFNA.cshtml";
}
<style type="text/css" media="screen">
    /* CSS Document */
    #Industrys-value {
        /*border:1px solid #ccc;*/
        width: 400px;
        margin-top: 0px;
        float: left;
        margin-right: 10px;
    }

    .check-Industrys {
        display: inline-block;
        min-height: 20px;
        height: auto;
    }

    .btn-lg, .btn-group-lg > .btn {
        padding: 0;
        font-size: 14px;
        border-radius: 0;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Scripts/UMEditor/themes/default/css/umeditor.css">
<link rel="stylesheet" type="text/css" href="~/Content/main.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/shopSetting.css" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    var imgUrl = ucConfig.ServerReferenceFileCenterAPI + '/fileupload/ImgDownload/', ImgSingleUploadUrl = ucConfig.ServerReferenceFileCenterAPI + '/fileupload/ImgSingleUpload/' + ucConfig.ServerApplicationName;
</script>
<script src="~/Scripts/js/lib/jquery.ui.widget.js"></script>
<script src="~/Scripts/jQuery.FileUpload/cors/jquery.xdr-transport.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script src="~/Scripts/js/lib/imgLiquid-min.js"></script>
<script src="~/Scripts/UMEditor/umeditor.config.js"></script>
<script src="~/Scripts/UMEditor/umeditor.js"></script>
<script src="~/Scripts/UMEditor/lang/zh-cn/zh-cn.js"></script>

<script src="~/Scripts/js/app/setting.js"></script>

@if (ViewBag.IsCreateShop == false)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">温馨提示：</h3>
        </div>
        <div class="panel-body">
            <p>1.您还没有创建商铺，请先进行开店；</p>
            <p>2.您还没有创建商铺，请先进行开店；</p>
            <p>3.您还没有创建商铺，请先进行开店；</p>
            <a class="btn btn-warning" href="~/shop/add" role="button">创建商铺</a>
        </div>
    </div>
}
else
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">温馨提示：</h3>
        </div>
        <div class="panel-body">
            <p>1.请您确定好后进行修改店铺信息，店铺修改后将重新进行系统审核；</p>
            <p>2.请您确定好后进行修改店铺信息，店铺修改后将重新进行系统审核；</p>
            <p>3.请您确定好后进行修改店铺信息，店铺修改后将重新进行系统审核；</p>
        </div>
    </div>

    using (Html.BeginForm("setting", "shop", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        List<long> ids = new List<long>();
        string nameStr = "";
        foreach (var m in Model.CategoryList)
        {
            ids.Add(m.CategoryID);
            nameStr = nameStr + m.CategoryName + ",";
        }
        nameStr = nameStr.Substring(0, nameStr.Length - 1);

        if (Model.Status == 3)
        {
            <div class="row">

                <div class="col-md-12 form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })*
                        <div class="col-md-8" style="position:relative;">

                            <!-- 点击添加类别 -->
                            <div class="selected-Industrys">
                                <input type="text" class="form-control" readonly="readonly" value="@nameStr" id="Industrys-value" style="line-height:30px; height:32px;">
                                <input type="button" class="btn btn-default" value="添加类别" data-toggle="modal" data-target="#myModal" />
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">请选择</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="check-Industrys">
                                                @if (ViewBag.ShopCategoryLists != null && ViewBag.ShopCategoryLists.Count > 0)
                                                {
                                                    List<Category> categoryList = (List<Category>)ViewBag.ShopCategoryLists;
                                                    foreach (var category in categoryList)
                                                    {
                                                        if (ids.Contains(category.ID))
                                                        {

                                                            <label for="Industrys" class="col-md-2"><input type="checkbox" checked="checked" value="@category.ID" attr-text="@category.Name" name="Industrys">@category.Name</label>
                                                        }
                                                        else
                                                        {
                                                            <label for="Industrys" class="col-md-2"><input type="checkbox" value="@category.ID" attr-text="@category.Name" name="Industrys">@category.Name</label>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default submit-Industrys" data-dismiss="modal">确定</button>
                                            @*<button type="button" class="btn btn-primary" onclick="javascript: void ($('#myModal').hide())">取消</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fileupload" class="control-label col-md-2">图片上传</label>*
                        <div class="col-md-8">

                            <div class="uploadimg">
                                <input id="fileupload" class="fileupload" type="file" name="uploadedfile">
                                <input type="button" class="btn btn-default fileupload-btn" value="选择图片" />
                                <div id="preview">

                                    @foreach (var pic in Model.PictureList)
                                    {
                                        <div class="imgLiquidFill">
                                            <input type="hidden" name="PictureListStrs" value="@pic.IconID" />
                                            <img class="img-thumbnail" src=@Url.Content(System.Configuration.ConfigurationManager.AppSettings["ServerReferenceFileCenterAPI"] + "/fileupload/ImgDownload/" + pic.IconID) IsMainPic=@pic.IsMainPic.ToString() />
                                            <span class="glyphicon glyphicon-remove pic-del"></span>
                                        </div>
                                    }

                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.PictureListStrs, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })*
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.Description, new { style = " width:580px; height:300px;", @class = "form-control", @maxlength = "4000" })
                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @*<input id="btn-submit" type="submit" title="开店" value="完成" class="btn btn-info" />*@
                            <input id="btn-submit" type="button" title="开店" value="完成" class="btn btn-info" />
                            <span>@ViewBag.ResultMessage</span>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <!--不可修改状态下显示-->
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="@Model.Name" readonly="readonly" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            <input type="text" class="form-control" readonly="readonly" value="@nameStr">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fileupload" class="control-label col-md-2">图片上传</label>
                        <div class="col-md-8">

                            <div class="uploadimg">
                                @*<input id="fileupload" class="fileupload" type="file" name="uploadedfile">
                                    <input type="button" class="btn btn-default fileupload-btn" value="选择图片" />*@
                                <div id="preview">

                                    @foreach (var pic in Model.PictureList)
                                    {
                                        <div class="imgLiquidFill">
                                            <input type="hidden" name="PictureListStrs" value="@pic.IconID" />
                                            <img class="img-thumbnail" src=@Url.Content(System.Configuration.ConfigurationManager.AppSettings["ServerReferenceFileCenterAPI"] + "/fileupload/ImgDownload/" + pic.IconID) IsMainPic=@pic.IsMainPic.ToString() />
                                            @*<span class="glyphicon glyphicon-remove pic-del"></span>*@
                                        </div>
                                    }

                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            @Html.ValidationMessageFor(model => model.PictureListStrs, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @*@Html.TextAreaFor(model => model.Description, new { style = " width:580px; height:300px;", @class = "form-control", @maxlength = "4000", @readonly = "readonly" })*@
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                </div>
            </div>
        }
    } /*form end*/
}  @*createshop end*@
