@{
    Layout = "~/Views/Shared/_FirstMenuLayout.cshtml";
}
@{ViewBag.ContentName = "我约谈的项目";}
@using ZCPT.CrowdFunding.Entity.CFProjectModule

<link href="~/Content/css/yuetan.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/rz_lists.css" rel="stylesheet" type="text/css">

<div class="conBox">
@foreach (var i in ViewBag.ProjectList)
{
    <div class="cbInner">
        <div class="thumbnail fl">
            <a href="MyProject/@i.ID"><img alt="" src="@(System.Configuration.ConfigurationManager.AppSettings["ServerReferenceFileCenterAPI"] + "/fileupload/ImgDownload/"+ i.Icon)" class="img" /></a>
        </div>
        <div class="summary fr">
            <div class="top-title">
                <a href="MyProject/@i.ID">@i.Name</a>
                <div class="label-info">
                    <div class="right-title">@i.StatusName</div>
                    <img src="../Content/img/leftsj.png">
                </div>
            </div>
            <ul class="detail-lists">
                <li>
                    <span class="span"><i style="margin-right: 5px;" class="fa fa-caret-right"></i>阶段：</span>
                    <em>@i.StageName </em>
                </li>
                <li>
                    <span class="span"><i style="margin-right: 5px;" class="fa fa-caret-right"></i>申请人：</span>
                    <em>@i.CreatorName </em>
                </li>
                <li> <span class="span"><i style="margin-right: 5px;" class="fa fa-caret-right"></i>申请时间：</span><em> @(i.CreationDate.ToString("yyyy-MM-dd HH:mm:ss")) </em></li>
                <li>
                    <span class="span"><i style="margin-right: 5px;" class="fa fa-caret-right"></i>已融金额：</span><em class="font_r_y blue">@(string.Format("{0:f2}", i.FinancedAmount / 10000))万 </em>

                </li>
                <li>
                    <span class="span"><i style="margin-right: 5px;" class="fa fa-caret-right"></i>融资金额：</span><em class="font_r blue">@(string.Format("{0:f2}", i.FinancingAmount))万 </em>
                </li>
            </ul>
        </div>
        <br class="clear" />
        <div class="detailList1">
                <i style="margin-right: 5px;" class="fa fa-caret-right"></i><span class="ct_7">项目简介：</span>@Html.Raw(i.Introduction)
                <div class="dw01"><img src="../Content/img/sj.png"></div>
        </div>
        <p class="button_list">
                @foreach (var item in ViewData["Interviews_" + i.ID])
                {
                    <a href="~/CFFinancingParty/Interviews?id=@item.ID" class="label-info">@item.CreatorName</a>

                }
         </p>
    </div>
}
</div>

