



    <ul class="nav nav-tabs">
        
     
  
        <li role="presentation" @if (nameof(ZCPT.CrowdFunding.Web.Models.ProjectBasisModel) == Model.Current){@Html.Raw(" class=\"active\" ")}  style ="width: 133px;">@Html.ActionLink("项目资料", "EditProjectBasis", new { ID = Model.ID })</li>
       @if( Model.ID > 0)
        {
        <li role="presentation" @if (nameof(ZCPT.CrowdFunding.Web.Models.ProjectBusinessPatternModel) == Model.Current){@Html.Raw(" class=\"active\" ")}  >@Html.ActionLink("商业模式", "EditProjectBusinessPattern", new { ID = Model.ID })</li>
        <li role="presentation" @if (nameof(ZCPT.CrowdFunding.Web.Models.ProjectTeamsModel) == Model.Current){@Html.Raw(" class=\"active\" ")}  >@Html.ActionLink("创业团队", "EditProjectTeam", new { ID = Model.ID })</li>
        <li role="presentation" @if (nameof(ZCPT.CrowdFunding.Web.Models.ProjectPerformancesModel) == Model.Current){@Html.Raw(" class=\"active\" ")}  >@Html.ActionLink("历史情况", "EditProjectPerformance", new { ID = Model.ID })</li>
        <li role="presentation" @if (nameof(ZCPT.CrowdFunding.Web.Models.ProjectSchedulesModel) == Model.Current){@Html.Raw(" class=\"active\" ")}  >@Html.ActionLink("未来计划", "EditProjectSchedule", new { ID = Model.ID })</li>
        <li role="presentation" @if (nameof(ZCPT.CrowdFunding.Web.Models.ProjectAttachmentsModel) == Model.Current){@Html.Raw(" class=\"active\" ")}  >@Html.ActionLink("项目附件", "EditProjectAttachment", new { ID = Model.ID })</li>

        <li role="presentation" @if (nameof(ZCPT.CrowdFunding.Web.Models.ProjectDynamicModel) == Model.Current){@Html.Raw(" class=\"active\" ")}  style="width: 132px;">@Html.ActionLink("项目动态", "EditProjectDynamic", new { ID = Model.ID })</li>
        }
    </ul>
  <div class="switch" style="width:100%;">
    <div class="clear"></div>
</div>