@{ViewBag.ContentName = "项目历史执行情况";}
@model ZCPT.CrowdFunding.Web.Models.ProjectPerformancesModel
@Scripts.Render("~/bundles/inputrich")
@Styles.Render("~/bundles/inputrich/style")
  
@Html.Partial("_ProjectTab", new ZCPT.CrowdFunding.Web.Models.ComponentModule.ProjectEditTabModule() { ID = Model.ID, Current = nameof(ZCPT.CrowdFunding.Web.Models.ProjectPerformancesModel) })
@using (Html.BeginForm("EditProjectTeam", "CFMyProjects", FormMethod.Post, new {@class="form-horizontal"}))
{
    @Html.HiddenFor(m => m.ID)

    for (int i = 0; i < Model.Performances.Count; i++)
    {
    <div id="section" class="row">
        @Html.HiddenFor(M => M.Performances[i].ID)
        @Html.HiddenFor(M => M.Performances[i].Index)
        <div class="form-group">
            <p class="bg-info text-right tit">
                <a href="javascript:void(0);" onclick="javascript: { $(this).parent().children(':hidden').val(0); $(this).closest('#section').hide(); }" Class="btn btn-primary">删除</a>
                @Html.HiddenFor(M => M.Performances[i].StatusID)
            </p>
        </div>
        <div class="form-group">
            @Html.LabelFor(M => M.Performances[i].Name, "1、阶段名称：", new { @class = "col-sm-2" })
            <div class="col-sm-6">
                @Html.TextBoxFor(M => M.Performances[i].Name, new { @class = "form-control" })
                <p class="text-danger" role="alert">@Html.ValidationMessageFor(M => M.Performances[i].Name)</p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(M => M.Performances[i].StartDate, "2、起止时间：", new { @class = "col-sm-2" })
            <div class="col-sm-2">
                @Html.TextBoxFor(M => M.Performances[i].StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @onClick = "WdatePicker()", Style = "min-width: 150px;width: 100px;" })
                <p class="text-danger" role="alert">@Html.ValidationMessageFor(M => M.Performances[i].StartDate)</p>
            </div>
            @Html.LabelFor(M => M.Performances[i].FinishTime, "至", new { @class = "col-sm-1 text-center" })
            <div class="col-sm-2">
                @Html.TextBoxFor(M => M.Performances[i].FinishTime, "{0:yyyy-MM-dd}", new { @class = "form-control", @onClick = "WdatePicker()", Style = "min-width: 150px;width: 100px;" })
                <p class="text-danger" role="alert">@Html.ValidationMessageFor(M => M.Performances[i].FinishTime)</p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(M => M.Performances[i].Purpose, "3、阶段达成目标描述：", new { @class = "col-sm-3" })
            <div class="col-sm-12">
                @Html.TextAreaFor(M => M.Performances[i].Purpose, 4, 20, new { style = "width: 100%; height: 180px;" })
                <p class="text-danger" role="alert">@Html.ValidationMessageFor(M => M.Performances[i].Purpose)</p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(M => M.Performances[i].Measure, "4、完成阶段目标的主要措施、方法、手段：", new { @class = "col-sm-4 label-left" })
            <div class="col-sm-12">
                @Html.TextAreaFor(M => M.Performances[i].Measure, 4, 20, new { style = "width: 100%; height: 180px;" })
                <p class="text-danger" role="alert">@Html.ValidationMessageFor(M => M.Performances[i].Measure)</p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(M => M.Performances[i].Measure, "5、阶段帐目：", new { @class = "col-sm-2 label-left" })
            <div class="col-sm-12">
                <TABLE width="100%" class="tab2 table table-bordered" id="sr_1" border="0" cellspacing="0"
                       cellpadding="0">
                    <TBODY>
                        <TR class="col">
                            <td width="20%" class="bg-info text-center"><p class="text-info">帐目类别</p></td>
                            <td width="15%" class="bg-info text-center"><p class="text-info">帐目金额￥</p></td>
                            <td class="bg-info text-center"><p class="text-info">备注</p></td>
                            <td class="bg-info text-center"><p class="text-info"></p></td>
                        </TR>
                        @{
                                    decimal total = 0;
                        }
                        @for (int j = 0; j < Model.Performances[i].Accountings.Count; j++)
                                {
                            <TR id="section">
                                <TD>
                                    @Html.HiddenFor(M => M.Performances[i].Accountings[j].ID)
                                    @Html.TextBoxFor(M => M.Performances[i].Accountings[j].Category, new { @class = "form-control", Style = "min-width: 150px;width: 150px;" })
                                </TD>
                                <TD>@Html.TextBoxFor(M => M.Performances[i].Accountings[j].Amount, "{0:f2}", new { @class = "form-control", Style = "min-width: 150px;width: 100px;" })</TD>
                                <TD>@Html.TextBoxFor(M => M.Performances[i].Accountings[j].Remark, new { @class = "form-control", Style = "width: 440px;" })</TD>
                                <td><a href="javascript:void(0);" onclick="javascript: $(this).parent().children(':hidden').val(0); $(this).closest('#section').hide();" Class="btn7">删除</a>@Html.HiddenFor(M => M.Performances[i].Accountings[j].StatusID)</td>
                            </TR>
                                    total = total + Model.Performances[i].Accountings[j].Amount;
                                }
                        <TR id="intotalrow1">
                            <TD>合计</TD>
                            <TD id="intotal1">@string.Format("{0:f2}", total)</TD>
                            <TD colspan="2"><input type="submit" Class="btn btn-info" onclick='javascript: $("form").attr("action", "@Url.Content("~/CFMyProjects/InsertProjectPerformanceAccounting")?PerformanceID=@Model.Performances[@i].Index")' value="添加帐目" /></TD>
                        </TR>
                    </TBODY>
                </TABLE>
            </div>
        </div>
    </div>
    }


    <div class="form-group text-center">
        <input type="submit" Class="btn btn-primary" onclick='javascript: $("form").attr("action", "@Url.Content("~/CFMyProjects/InsertProjectPerformance")")' value="添加阶段" />
    </div>

    <div class="form-group">
        @Html.Label("累计盈亏：", new { @class = "col-sm-4" })
        <div>
            <TABLE class="table table-bordered">
                <TBODY>
                    <TR>
                        <td width="30%" class="bg-info text-center"><p class="text-info">累计收入金额￥</p></td>
                        <td width="30%" class="bg-info text-center"><p class="text-info">累计开支金额￥</p></td>
                        <td class="bg-info text-center"><p class="text-info">累计盈亏金额￥</p></td>
                    </TR>
                    <TR>
                        <TD id="totalsr">&nbsp;@string.Format("{0:f2}", ViewBag.Income)</TD>
                        <TD id="totalkz">&nbsp;@string.Format("{0:f2}", ViewBag.Expenditure)</TD>
                        <TD id="totalyk">&nbsp;@string.Format("{0:f2}", (decimal)ViewBag.Expenditure + (decimal)ViewBag.Income)</TD>
                    </TR>
                </TBODY>
            </TABLE>
        </div>
    </div>

    <div class="form-group text-center">
        <input class="btn btn-warning" name="updatebacksubmit" type="submit" onclick='javascript: $("form").attr("action", "@Url.Content("~/CFMyProjects/UpdataProjectPerformance?Step=EditProjectTeam")")' value="上一步" />
        &nbsp;
        <input class="btn btn-warning" name="updatesubmit" type="submit" onclick='javascript: $("form").attr("action", "@Url.Content("~/CFMyProjects/UpdataProjectPerformance?Step=EditProjectSchedule")")' value="下一步" />
        <p class="text-danger">@Html.Label((string)ViewBag.ResultMassage ?? string.Empty)</p>
        
    </div>

    <script type="text/javascript">$('textarea').each(function () { UM.getEditor($(this).attr('id')).setShow(); });</script>
        @*<!--项目历史执行资料-->
        <DIV class="xm-content">
    @for (int i = 0; i < Model.Performances.Count; i++)
    {
        <DIV id="section">
            @Html.HiddenFor(M => M.Performances[i].ID)
            @Html.HiddenFor(M => M.Performances[i].Index)
            <DIV class="tit">
                <DIV class="tit_l"><SPAN class="num"></SPAN></DIV>
                <DIV class="tit_r">
                    <a href="javascript:void(0);" onclick="javascript: { $(this).parent().children(':hidden').val(0); $(this).closest('#section').hide(); }" Class="btn7">删除</a>
                    @Html.HiddenFor(M => M.Performances[i].StatusID)
                </DIV>
            </DIV>
            <DIV class="text">
                <DIV style="line-height: 40px;">
                    <SPAN class="f_blue">1、阶段名称：</SPAN>
                    @Html.TextBoxFor(M => M.Performances[i].Name, new { Class = "inp4", Style = "width: 400px;" })

                </DIV>
                <DIV style="line-height: 40px;">
                    <SPAN class="f_blue">2、起止时间：</SPAN>     @Html.TextBoxFor(M => M.Performances[i].StartDate, "{0:yyyy-MM-dd}", new {  Style = "min-width: 150px;width: 100px;",  @class = " Wdate ", @onClick = "WdatePicker({readOnly:true})" }) 至 &nbsp; &nbsp; @Html.TextBoxFor(M => M.Performances[i].FinishTime, "{0:yyyy-MM-dd}", new {  Style = "min-width: 150px;width: 100px;",  @class = "Wdate input-control", @onClick = "WdatePicker()" })
                </DIV><SPAN class="f_blue">3、阶段达成目标描述：</SPAN>
                <DIV class="pro">
                    @Html.TextAreaFor(M => M.Performances[i].Purpose, 4, 20, new { style = "width: 100%; height: 180px;" })
                </DIV><SPAN class="f_blue">4、完成阶段目标的主要措施、方法、手段：</SPAN>
                <DIV class="pro">
                    @Html.TextAreaFor(M => M.Performances[i].Measure, 4, 20, new { style = "width: 100%; height: 180px;" })

                </DIV><SPAN class="f_blue">5、阶段帐目：</SPAN>

                <TABLE width="100%" class="tab2" id="sr_1" border="0" cellspacing="0"
                       cellpadding="0">
                    <TBODY>
                    <TR class="col">
                        <TD width="20%">帐目类别</TD>
                        <TD width="15%">帐目金额￥</TD>
                        <TD>备注</TD>
                        <TD></TD>
                    </TR>
                        @{
                            decimal total = 0;
                        }
                        @for (int j = 0; j < Model.Performances[i].Accountings.Count; j++)
                        {
                            <TR id="section">
                                <TD>
                                    @Html.HiddenFor(M => M.Performances[i].Accountings[j].ID)
                                    @Html.TextBoxFor(M => M.Performances[i].Accountings[j].Category, new {Class = "inp4", Style = "min-width: 150px;width: 150px;"})</TD>
                                <TD>@Html.TextBoxFor(M => M.Performances[i].Accountings[j].Amount, "{0:f2}", new {Class = "inp4 amount", Style = "min-width: 150px;width: 100px;"})</TD>
                                <TD>@Html.TextBoxFor(M => M.Performances[i].Accountings[j].Remark, new {Class = "inp4", Style = "width: 440px;"})</TD>
                                <td><a href="javascript:void(0);" onclick="javascript: { $(this).parent().children(':hidden').val(0); $(this).closest('#section').hide(); }" Class="btn7">删除</a>@Html.HiddenFor(M => M.Performances[i].Accountings[j].StatusID)</td>
                            </TR>
                            total = total + Model.Performances[i].Accountings[j].Amount;
                        }
                        <TR id="intotalrow1">
                            <TD>合计 </TD>
                            <TD id="intotal1">@string.Format("{0:f2}",total)</TD>
                            <TD colspan="2"><input type="submit" Class="btn7" onclick='javascript: $("form").attr("action", "@Url.Content("~/CFMyProjects/InsertProjectPerformanceAccounting")?PerformanceID=@Model.Performances[@i].Index")' value="添加帐目" /></TD>
                        </TR>
                    </TBODY>
                </TABLE>


            </DIV>
        </DIV>
        <p></p><br />
    }
    </DIV>
    
    <!--添加阶段-->
    <DIV class="t_c" id="endphasepos"><input type="submit" Class="btn7" onclick='javascript: $("form").attr("action", "@Url.Content("~/CFMyProjects/InsertProjectPerformance")")' value="添加阶段" />

    </DIV><!--累计盈亏-->

    <DIV class="xm-content" id="endphasepos0">
        <DIV class="f_blue f_b">累计盈亏：</DIV>
        <TABLE width="100%" class="tab2" border="0" cellspacing="0" cellpadding="0">
            <TBODY>
                <TR class="col">
                    <TD width="30%">累计收入金额￥</TD>
                    <TD width="30%">累计开支金额￥</TD>
                    <TD>累计盈亏金额￥</TD>
                </TR>
                <TR>
                    <TD id="totalsr">&nbsp;@string.Format("{0:f2}",ViewBag.Income)</TD>
                    <TD id="totalkz">&nbsp;@string.Format("{0:f2}", ViewBag.Expenditure)</TD>
                    <TD id="totalyk">&nbsp;@string.Format("{0:f2}",(decimal)ViewBag.Expenditure+ (decimal)ViewBag.Income)</TD>
                </TR>
            </TBODY>
        </TABLE>
    </DIV>

    <DIV class="t_c">
        <input class="btn btn-warning" name="updatebacksubmit" type="submit" onclick='javascript: $("form").attr("action", "@Url.Content("~/CFMyProjects/UpdataProjectPerformance?Step=EditProjectTeam")")' value="上一步" />
        &nbsp;
        <input class="btn btn-warning" name="updatesubmit" type="submit" onclick='javascript: $("form").attr("action", "@Url.Content("~/CFMyProjects/UpdataProjectPerformance?Step=EditProjectSchedule")")' value="下一步" />
        @Html.Label((string)ViewBag.ResultMassage ?? string.Empty)
    </DIV>
        *@
}

@*
    <style type="text/css">
        .tit {
        background: url("../img/v3/member_bg5.gif") no-repeat 0px 0px rgb(223, 235, 255); height: 40px; color: rgb(0, 153, 255);  padding-left: 8px; font-size: 18px; margin-top: 10px;
    }.tit_l {
        float: left;
    }.tit_r {
        padding: 7px 10px 0px 0px; float: right;font-size: 15px;
    }
        form {
            margin: 0px;
            padding: 0px;
        }

        * {
            margin: 0px;
            padding: 0px;
        }

        img {
            border: 0px currentColor;
            border-image: none;
            line-height: 0;
            vertical-align: middle;
        }

        span {
            margin: 0px;
            padding: 0px;
        }

        a:link {
            color: rgb(51, 51, 51);
            text-decoration: none;
        }

        a {
            cursor: pointer;
        }

        .f_blue {
            color: rgb(0, 153, 255);
        }

        .inp4 {
            background: rgb(255, 255, 255);
            border: 1px solid rgb(204, 204, 204);
            border-image: none;
            width: 200px;
            height: 28px;
            line-height: 28px;
            padding-left: 3px;
            margin-right: 10px;
        }

        input {
            color: rgb(102, 102, 102);
            font-family: Microsoft Yahei;
            font-size: 14px;
            vertical-align: middle;
        }

        input {
            margin: 0px;
            padding: 0px;
        }

        select {
            color: rgb(51, 51, 51);
            font-family: Microsoft Yahei;
            font-size: 14px;
            vertical-align: middle;
        }

        select {
            margin: 0px;
            padding: 0px;
        }

        textarea {
            color: rgb(102, 102, 102);
            font-family: Microsoft Yahei;
            font-size: 14px;
            vertical-align: middle;
        }

        textarea {
            margin: 0px;
            padding: 0px;
            height: 120px;
        }

        .tab2 {
            margin: 10px 0px;
            width: 100%;
            border-collapse: collapse;
        }

            .tab2 .col td {
                background: rgb(223, 235, 255);
                color: rgb(0, 153, 255);
            }

            .tab2 td {
                padding: 0px 10px;
                border: 1px solid rgb(204, 204, 204);
                border-image: none;
                height: 40px;
                text-align: center;
            }

        td {
            margin: 0px;
            padding: 0px;
        }

        .btn7 {
            background: rgb(0, 153, 255);
            padding: 4px 17px 5px;
            border: currentColor;
            border-image: none;
            color: rgb(255, 255, 255);
            cursor: pointer;
        }

        .clear {
            width: 1px;
            line-height: 0;
            clear: both;
            font-size: 1px;
            visibility: hidden;
        }

        .t_c {
            text-align: center;
        }

        .f_b {
            font-weight: bold;
        }

        .btn2 {
            background: rgb(255, 102, 0);
            padding: 0px 25px;
            border: currentColor;
            border-image: none;
            height: 35px;
            color: rgb(255, 255, 255);
            font-size: 16px;
            cursor: pointer;
        }

        .date-control {
            height:34px;
        }
        .label-left{
            text-align:left;
        }
    </style>
*@