@model  ZCPT.CrowdFunding.Web.Models.ProjectBasisModel

@{
    ViewBag.ContentName = "项目融资申请";
}

@Styles.Render("~/bundles/inputrich/style")

<script src="~/Scripts/projectfinancing.js"></script>
<link href="~/Content/css/financingApplication.css" type="text/css" rel="stylesheet">

@using (Html.BeginForm("UpdataProjectBasis", "CFMyProjects", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(M => M.ID)
    @Html.HiddenFor(M => M.PCProjectID)

    if (ViewBag.IsProjectFinancing == false)
    {
        <div class="alert alert-warning" role="alert">您已经提交过申请融资，请耐心等候审核结果。</div>

    }
    else
    {
        <div style="display:none;">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, "项目名称：", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    <p class="text-danger" role="alert">@Html.ValidationMessageFor(M => M.Name)</p>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("投资款拨付方式：", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-7">
                    @*@foreach (var item in ViewBag.CapitalPatterns)
                            {
                            @Html.RadioButton("CapitalPatternID", (string)item.Value, (bool)item.Selected) @item.Text
                        }*@
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("项目查看权限：", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-7">
                @foreach (var item in ViewBag.ReadPermissions)
                {
                <label>@Html.RadioButton("ReadPermissionID", (string)item.Value, (bool)item.Selected) @item.Text</label>
                }
                
                <p class="text-danger" role="alert"></p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FinancingAmount, "融资金额：", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.FinancingAmount, "{0:f2}", new { @class = "form-control" })
                    <div class="input-group-addon">万元</div>
                </div>
                <p class="text-danger" role="alert">@Html.ValidationMessageFor(m => m.FinancingAmount)</p>
            </div>
        </div>

        <div class="form-group">
            @Html.Label( "融资方式：", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.CFInvestmentCategoryID, (IEnumerable<SelectListItem>)ViewBag.FinancingCategory, new { @class = "form-control" })
                <div class="financing section-form">
                    <div class="financingBox">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>可承担最高利息：</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.DebtFinancingInfo.CFInvestorHighestInterestRates, new { @class = "form-control" })
                                    <span class="input-group-addon">% / 年</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>资金占用时长：</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.DebtFinancingInfo.CFMoneyUseTimeMin, new { @class = "form-control" })
                                    <span class="input-group-addon">--</span>
                                    @Html.TextBoxFor(m => m.DebtFinancingInfo.CFMoneyUseTimeMax, new { @class = "form-control" })

                                    @Html.DropDownListFor(m => m.DebtFinancingInfo.CFMoneyUseTimeUnit, new List<SelectListItem>() { new SelectListItem() { Text = "天", Value = "天" }, new SelectListItem { Text = "小时", Value = "小时" }, new SelectListItem { Text = "年", Value = "年" } })
                                    <input type="hidden" value="" name="DebtFinancingInfo_CFMoneyUseTimeUnit" id="DebtFinancingInfo_CFMoneyUseTimeUnit"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>可提供风控：</label>
                            <div class="col-sm-8 js-zqtz-exit">
                                @foreach (SelectListItem item in (IEnumerable<SelectListItem>)ViewBag.InvestmentWay)
                                {
                                    var ischecked = "";
                                    if (item.Selected)
                                    {
                                        ischecked = "checked='checked'";
                                    }
                                    <label><input name="CFCFInvestmentWayID" type="checkbox" value="@item.Value" @ischecked />
                                    @item.Text</label>
                                }
                                @Html.HiddenFor(m => m.DebtFinancingInfo.CFInvestmentWayStr)
                            </div>
                        </div>
                        <div class="pledge-type" style="display:none;">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>抵押物类型：</label>
                                <div class="col-sm-8 js-type-exit">
                                    @foreach (SelectListItem item in (IEnumerable<SelectListItem>)ViewBag.FinancerMortgageType)
                                    {
                                        var ischecked = "";
                                        if (item.Selected)
                                        {
                                            ischecked = "checked='checked'";
                                        }
                                        <label><input name="CFMortgageTypeID" type="checkbox" value="@item.Value" @ischecked />
                                        @item.Text</label>
                                    }
                                    @Html.HiddenFor(m => m.DebtFinancingInfo.CFMortgageTypeStr)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>抵押物市值：</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.DebtFinancingInfo.CFMortgageAmount, new { @class = "form-control" })
                                        <span class="input-group-addon">万元</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>还款来源：</label>
                                <div class="col-sm-8 js-hkly-exit">
                                    @foreach (SelectListItem item in (IEnumerable<SelectListItem>)ViewBag.FinancerRepayingSource)
                                    {
                                        var ischecked = "";
                                        if (item.Selected)
                                        {
                                            ischecked = "checked='checked'";
                                        }
                                        <label><input name="CFRepayingSourceID" type="checkbox" value="@item.Value" @ischecked />
                                        @item.Text</label>
                                    }
                                    @Html.HiddenFor(m => m.DebtFinancingInfo.CFRepayingSourceStr)
                                </div>
                            </div>
                        
                    </div>
                    <div class="financingBox">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>项目所处阶段：</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.StockFinancingInfo.CFProjectStageID, (IEnumerable<SelectListItem>)ViewBag.Stages, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>投资方占股比例：</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.StockFinancingInfo.CFInvestorShareProportionMin, new { @class = "form-control" })
                                    <span class="input-group-addon">--</span>
                                    @Html.TextBoxFor(m => m.StockFinancingInfo.CFInvestorShareProportionMax, new { @class = "form-control" })
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>投资方退出方式：</label>
                            @*投资方退出方式*@
                            <div class="col-sm-8 js-tzf-exit">
                                @foreach (SelectListItem item in (IEnumerable<SelectListItem>)ViewBag.InvestorExitWay)
                                {
                                    var ischecked = "";
                                    if (item.Selected)
                                    {
                                        ischecked = "checked='checked'";
                                    }
                                    <label> <input name="CFInvestorExitWayID" type="checkbox" value="@item.Value" @ischecked />
                                    @item.Text</label>
                                }
                                @Html.HiddenFor(m => m.StockFinancingInfo.CFInvestorExitWayStr)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>最短退出年限：</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.StockFinancingInfo.CFInvestmentShortYears, new { @class = "form-control" })
                                    <span class="input-group-addon">年</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 text-center">
                @if (Model.ID > 0)
                {
                    <input class="btn btn-warning" name="updatesubmit" type="submit" onclick='javascript: $("form").attr("action", "@Url.Content("~/CFMyProjects/UpdataProjectBasis?Step=EditProjectBusinessPattern")")' value="下一步" />
                }
                else
                {
                    <input class="btn btn-warning" name="insertsubmit" type="submit" onclick='javascript: $("form").attr("action", "@Url.Content("~/CFMyProjects/InsertProjectBasis")")' value="提交融资申请" />
                    <input class="btn" type="submit" value="取消" />

                }
            </div>

        </div>
        


    }
}




