@using ZCPT.CrowdFunding.Entity.CFProjectModule

@{
    ViewBag.Title = "项目列表";
    ViewBag.ContentName = "项目列表";
}
<link href="~/Content/css/rz_lists.css" rel="stylesheet" type="text/css">

@foreach (var i in ViewBag.ProjectList)
{
    <div class="media-list">
        <div class="media section-media-large">
            <div class="media-left">
                <a href="MyProject/@i.ID">
                    <img alt="" class="media-object img-thumbnail" src="@(System.Configuration.ConfigurationManager.AppSettings["ServerReferenceFileCenterAPI"] + "/fileupload/ImgDownload/"+ i.Icon)" />
                </a>
            </div>
            <div class="media-body">

                <h4 class="media-heading">
                    @i.Name
                    <span class="label label-info pull-right">
                        <span class="arrow-left"></span>
                        @i.StatusName
                    </span>
                </h4>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">阶段：</label>
                        <div class="col-sm-4 form-control-static">
                            @i.StageName
                        </div>
                        <label class="col-sm-2 control-label">融资方式：</label>
                        <div class="col-sm-4 form-control-static">
                            @if (i.InvestmentCategory == 1)
                            {
                                <span>股权融资</span>
                            }
                            else if (i.InvestmentCategory == 2)
                            {
                                <span>债权融资</span>
                            }
                            else if (i.InvestmentCategory == 3)
                            {
                                <span>众筹融资</span>
                            }
                        </div>
                        <label class="col-sm-2 control-label">已融金额：</label>
                        <div class="col-sm-4 form-control-static">
                            @(string.Format("{0:f2}", i.FinancedAmount / 10000))万
                        </div>
                        <label class="col-sm-2 control-label">申请人：</label>
                        <div class="col-sm-4 form-control-static">
                            @i.CreatorName
                        </div>
                        <label class="col-sm-2 control-label">融资金额：</label>
                        <div class="col-sm-4 form-control-static">
                            @(string.Format("{0:f2}", i.FinancingAmount))万
                        </div>

                        <label class="col-sm-2 control-label">申请时间：</label>
                        <div class="col-sm-4 form-control-static">
                            @(i.CreationDate.ToString("d"))
                        </div>
                    </div>
                </div>
                <div class="bg-info">
                    <label>项目简介：</label>@Html.Raw(i.Introduction)
                </div>
            </div>
            <div class="media-bottom">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        @if (i.InvestmentCategory == 3)
                        {
                            @Html.ActionLink("详细信息", "MyProject", new { ID = i.ID }, new { @class = "btn btn-default" })
                        }
                        else
                        {
                            @Html.ActionLink("详细信息", "financingdetails", "CFProject", new { ID = i.ID }, new { @class = "btn btn-default" })
                        }

                        @if (i.Status != CFProjectStatus.Get("Auditing") && i.Status != CFProjectStatus.Get("Actived") && i.Status != CFProjectStatus.Get("Finished"))
                        {
                            @Html.ActionLink("编辑", "EditProjectBasis", new { ID = i.ID }, new { @class = "btn btn-default" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        $(".detailList1 p img").remove();

    })
</script>