@using Webdiyer.WebControls.Mvc
@using ZCPT.CrowdFunding.Web.Models.CFNewsModule
@model ZCPT.CrowdFunding.Web.Models.CFNewsModule.CFNewsModel
@{
    Layout = "~/Views/Shared/_LayoutHFNA.cshtml";
    ViewBag.Title = "最新资讯列表";
}

    <link href="~/Content/css/btn.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script language="javascript" type="text/javascript" src="~/Tools/My97DatePicker/WdatePicker.js"></script>
    <link href="~/Content/css/pager.css" rel="stylesheet" />



            
                @using (Html.BeginForm("ManagerNewsList", "CFNews", FormMethod.Post, new { role = "form" }))
                {
                    <table class="table table-border">
                        <tr>
                            <td>主题</td>
                            <td>@Html.TextBoxFor(model => model.Name, new { @class = "input-control" })@Html.HiddenFor(model => model.NewsCategoryStr)</td>
                            @foreach (var item in ViewBag.NewsCategories)
                            {
                                <td>@item.Name </td>
                                <td>@Html.DropDownList((string)@item.Value + "ID", ViewData[@item.Value + "_" + @item.ID] as IEnumerable<SelectListItem>)</td>
                            }
                        </tr>

                        <tr>
                            <td>发布时间</td>
                            <td>@Html.TextBoxFor(model => model.BeginDate, new { @class = "Wdate input-control", @onClick = "WdatePicker({readOnly:true})" })</td>
                            <td>状态</td>
                            <td>@Html.DropDownListFor(model => model.Status, ViewBag.NewsStatus as IEnumerable<SelectListItem>, new { @class = "input-control" })</td>
                            <td  colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="6" align="right">@ViewBag.LoginState@Html.HiddenFor(model => model.NewsCategoryStr)<input type="submit" value="查询" class="btn btn-default" onclick="btnBindValue()" /></td>
                        </tr>
                    </table>
                }
                <div class="clearBoth"></div>

                <table class="table table-border">
                    <tr>
                        <th>发布时间</th>
                        @for (int i = 0; i < ViewBag.DDLCount; i++)
                        {
                            <th>@ViewBag.DDLText[i].Name</th>
                        }
                        <th>标题</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    @foreach (var news in ViewBag.SearchNewsLists)
                    {
                        <tr>
                            <td>@news.BeginDate.ToString("yyyy-MM-dd")</td>
                            @foreach (var item in news.NewsCategoriesDDLValue)
                            {
                                <td>@item.Name</td>
                            }
                            <td><a target="_blank" href="~/cfnews/newsDetail?id=@news.ID">@news.Name</a></td>
                            @if (@news.Status == 1)
                            {
                                <td>启用</td>}
                            else
                            {
                                <td>禁用</td>}
                            <td><a href="~/cfnews/UpdateNews?id=@news.ID">编辑</a></td>
                        </tr>
                    }

                </table>


<script type="text/javascript">

    function btnBindValue() {
        var str = "";
        var d = document.getElementsByTagName("select");

        for (var i = 0; i < @ViewBag.DDLCount; i++) {
            str += d[i].value + "|";
        }
        str = str.substring(0, str.length - 1);
        document.getElementById("NewsCategoryStr").value = str;
    }

</script>