@model ZCPT.CrowdFunding.Web.Models.CFNewsModule.CFNewsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script language="javascript" type="text/javascript" src="~/Tools/My97DatePicker/WdatePicker.js"></script>
    <link href="~/Tools/UMEditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <link href="~/Content/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/btn.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Tools/UMEditor/third-party/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Tools/UMEditor/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Tools/UMEditor/umeditor.min.js"></script>
    <script type="text/javascript" src="~/Tools/UMEditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">$(function () { UM.getEditor('Contents').setShow(); });</script>
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>

    <div class="adminFrame">
        <div class="header">

            <div class="imgLogo">后台系统</div>
            <div class="welcome">欢迎您，admin</div>
        </div>
        <div class="mainMenu">
            <h2 class="kindTop">功能菜单</h2>
            <ul id="mainnav-menu" class="list-group">

                <!--Menu list item-->
                <li>
                    <a href="javascript:void(0);" class="title">
                        <i class="fa fa-cube"></i>
                        <span class="menu-title">咨询管理</span>

                    </a>
                    <!--Submenu-->
                    <ul class="collapse">
                        <li><i class="fa fa-angle-right"></i><a href="~/CFNews/CreateNews">新建资讯</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="~/CFNews/ManagerNewsList">维护资讯</a></li>
                    </ul>
                </li>


            </ul>
        </div>

        <div class="mainContents">
            @using (Html.BeginForm("UpdateNews", "CFNews", FormMethod.Post, new { role = "form" }))
            {
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.NewsCategoryStr)
                <table class="table table-border">
                    <tr>
                        <td>主题</td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, new { @class = "input-control input-lg" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { style = "color:red" })
                        </td>
                    </tr>
                    @foreach (var item in ViewBag.NewsCategories)
                    {
                        <tr>
                            <td>@item.Name </td>
                            <td>@Html.DropDownList((string)@item.Value + "ID", ViewData[@item.Value + "_" + @item.ID] as IEnumerable<SelectListItem>)</td>
                        </tr>
                    }
                    <tr>
                        <td> 状态 </td>
                        <td>@Html.DropDownListFor(model => model.Status, ViewBag.NewsStatus as IEnumerable<SelectListItem>, new { @class = "input-control" })</td>
                    </tr>
                    <tr>
                        <td> 来源 </td>
                        <td>
                            @Html.TextBoxFor(model => model.Source, new { @class = "input-control" })
                            @Html.ValidationMessageFor(model => model.Source, "", new { style = "color:red" })
                        </td>
                    </tr>
                    <tr>
                        <td>开始时间</td>
                        <td>
                            @Html.TextBoxFor(model => model.BeginDate, "{0:yyyy-MM-dd}", new { @class = "Wdate input-control", @onClick = "WdatePicker({readOnly:true})" })
                            @Html.ValidationMessageFor(model => model.BeginDate, "", new { style = "color:red" })
                        </td>
                    </tr>
                    <tr>
                        <td>结束时间</td>
                        <td>
                            @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { @class = "Wdate input-control", @onClick = "WdatePicker({readOnly:true})" })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { style = "color:red" })
                        </td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>
                            @Html.TextAreaFor(model => model.Contents, new { style = "width: 700px; height: 330px;font-size:13px; line-height:28px;" })
                            @Html.ValidationMessageFor(model => model.Contents, "", new { style = "color:red" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">@ViewBag.LoginState<input type="submit" value="保存" class="btn btn-primary " onclick="btnBindValue()" /></td>
                    </tr>
                </table>
            }
        </div>
    </div>

</body>
</html>
<script type="text/javascript">

    function btnBindValue() {
        var str = "";
        var d = document.getElementsByTagName("select");

        for (var i = 0; i < @ViewBag.DDLCount; i++) {
            str += d[i].value + "|";
        }
        str = str.substring(0, str.length - 1);
        document.getElementById("NewsCategoryStr").value = str;
    }

</script>
