
@{
    long CurrentFirstLevelItem = SessionHelper.Nav.FirstLevelID;
    long CurrentSecondLevelItem = SessionHelper.Nav.SecondLevelID;
    var Menus = new UCFramework.Infrastructure.SDK.MenuAPI().GetProductMenu();    
    Menus.AddRange(ViewBag.SelfNav);


    List<dynamic> menus = new List<dynamic>();



    var target = string.Empty;
    var url = string.Empty;
    foreach (var menuinfo in Menus.Where(t => t.ParentID == 0).OrderBy(t => t.OrderNum))
    {
        target = string.IsNullOrEmpty(menuinfo.LinkTargetType) ? string.Empty : menuinfo.LinkTargetType;
        if (menuinfo.MenuUrl == "#" || target == "_blank")
        {
            url = menuinfo.MenuUrl;
        }
        else
        {
            url = $"{menuinfo.MenuUrl}{(menuinfo.MenuUrl.Contains("?") ? "&" : "?")}{ConstantHelper.WebFrameNav.FirstLevelQueryKey}={menuinfo.ID}";
            if (!menuinfo.MenuUrl.Contains("http"))
            {
                url = Url.Content("~/" + url);
            }
        }

        dynamic menu = new { index = menuinfo.OrderNum, text = menuinfo.MenuName, href = url, target = target, @css = CurrentFirstLevelItem == menuinfo.ID ? "active" : "", subMenus = new List<dynamic>() };
        menus.Add(menu);
        foreach (var submenuinfo in Menus.Where(t => t.ParentID == menuinfo.ID).OrderBy(t => t.OrderNum))
        {
            target = string.IsNullOrEmpty(submenuinfo.LinkTargetType) ? string.Empty : submenuinfo.LinkTargetType;
            if (submenuinfo.MenuUrl == "#" || target == "_blank")
            {
                url = submenuinfo.MenuUrl;
            }
            else
            {
                url = $"{submenuinfo.MenuUrl}{(submenuinfo.MenuUrl.Contains("?") ? "&" : "?")}{ConstantHelper.WebFrameNav.FirstLevelQueryKey}={menuinfo.ID}&{ConstantHelper.WebFrameNav.SecondLevelQueryKey}={submenuinfo.ID}";
                if (!submenuinfo.MenuUrl.Contains("http"))
                {
                    url = Url.Content("~/" + url);
                }
            }
            dynamic subMenu = new { index = submenuinfo.OrderNum, text = submenuinfo.MenuName, href = url, target = target, @css = CurrentSecondLevelItem == submenuinfo.ID ? "active" : "", subMenus = new List<dynamic>() };
            menu.subMenus.Add(subMenu);
            foreach (var subsubmenuinfo in Menus.Where(t => t.ParentID == submenuinfo.ID).OrderBy(t => t.OrderNum))
            {
                target = string.IsNullOrEmpty(subsubmenuinfo.LinkTargetType) ? string.Empty : subsubmenuinfo.LinkTargetType;
                if (subsubmenuinfo.MenuUrl == "#" || target == "_blank")
                {
                    url = subsubmenuinfo.MenuUrl;
                }
                else
                {
                    url = $"{subsubmenuinfo.MenuUrl}{(subsubmenuinfo.MenuUrl.Contains("?") ? "&" : "?")}{ConstantHelper.WebFrameNav.FirstLevelQueryKey}={menuinfo.ID}&{ConstantHelper.WebFrameNav.SecondLevelQueryKey}={subsubmenuinfo.ID}";
                    if (!subsubmenuinfo.MenuUrl.Contains("http"))
                    {
                        url = Url.Content("~/" + url);
                    }
                }
                subMenu.subMenus.Add(new { index = subsubmenuinfo.OrderNum, text = subsubmenuinfo.MenuName, href = url, target = target, @css = CurrentSecondLevelItem == subsubmenuinfo.ID ? "active" : "", subMenus = new List<dynamic>() });

            }
        }
    }




}
<nav>

    <div class="navbar-default background_bo" role="navigation">
        <div class="container padding_no">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav nav_left hidden-xs">
                    @foreach (var menu in menus.Where(t => t.index < 0))
                    {
                        var index = 0;
                        if (menu.subMenus.Count == 0)
                        {
                            <li class="@menu.css"><a href="@menu.href" target="@menu.target">@Html.Raw(menu.text)</a></li>
                        }
                        else
                        {
                            <li class="dropdown @menu.css">
                                <a href="@menu.href" target="@menu.target" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:#fff; font-size:16px; font-weight:bold;">@Html.Raw(menu.text) <span class="caret"></span></a>
                                <ul class="dropdown-menu" id="LeftMenuSIud">                                    
                                    @foreach (var subMenu in menu.subMenus)
                                    {
                                        index++;
                                        if (string.IsNullOrEmpty(subMenu.text))
                                        {
                                            bool firstMenu = true;
                                            <li class="@subMenu.css">
                                                <span style="width:19px; height:20px; margin-right:10px;float:left; clear:left; background:url(@System.Configuration.ConfigurationManager.AppSettings["ServerReferencePublicPortal"]/images/left_icon@(index).png) center no-repeat;" >&nbsp;</span>
                                                    @foreach (var subsubMenu in subMenu.subMenus)
                                                    {
                                                       
                                                        if (firstMenu)
                                                        {
                                                            firstMenu = false;
                                                            <a style="float:left;padding-left:0px;padding-right:0px" href="@subsubMenu.href" target="@subsubMenu.target"> @Html.Raw(subsubMenu.text) </a>
                                                        }
                                                        else
                                                        {
                                                           <div style="float:left;">、</div>      <a style="float:left;padding-left:0px;padding-right:0px" href="@subsubMenu.href" target="@subsubMenu.target"> @Html.Raw(subsubMenu.text) </a>
                                                        }
                                                    }
                                           
                                            </li>

                                        }
                                        else
                                        {
                                            <li class="@subMenu.css"><span style="width:19px; height:20px; margin-right:10px;float:left; clear:left; background:url(@System.Configuration.ConfigurationManager.AppSettings["ServerReferencePublicPortal"]/images/left_icon@(index).png) center no-repeat;">&nbsp;</span><a style="float:left;padding-left:0px;padding-right:0px" href="@subMenu.href" target="@subMenu.target">@Html.Raw(subMenu.text)</a></li>
                                        }
                                    }
                                </ul>
                            </li>

                        }
                    }
                </ul>

            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav_right">
                    @foreach (var menu in menus.Where(t => t.index >= 0))
                    {
                        if (menu.subMenus.Count == 0)
                        {
                            <li class="@menu.css"><a href="@menu.href" target="@menu.target">@Html.Raw(menu.text)</a></li>
                        }
                        else
                        {
                            <li class="dropdown @menu.css">
                                <a href="@menu.href" target="@menu.target" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.Raw(menu.text) <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @foreach (var subMenu in menu.subMenus)
                                    {
                                        <li class="@subMenu.css"><a href="@subMenu.href" target="@subMenu.target">@Html.Raw(subMenu.text)</a></li>
                                    }
                                </ul>
                            </li>

                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</nav>
